@model IEnumerable<StoreWebUI.Models.OrderVM>

@{
    ViewData["Title"] = "View Order";
}

<h1>View Order</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @ViewData["Customer"]
            </td>
            <td>
                @ViewData["Location"]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
        </tr>
}
    </tbody>
</table>
